<%
=begin%>
<form method="post" action="/users" accept-charset="UTF-8">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="username">Username:</label>
    <input type="text" id="username" name="user[username]"><br><br>
    <label for="username">Password:</label>
    <input type="password" id="password" name="user[password]"><br><br>
    <label for="email">Email:</label>
    <input type="text" id="email" name="user[email]"><br><br>
    <input type="submit" value="Submit">
</form>

<%=form_tag("/users", method:"post") do%>
    <%=label_tag(:username, "Username:")%>
    <%=text_field_tag(:username)%>
    <%=label_tag(:password, "Password:")%>
    <%=password_field_tag(:password)%>
    <%=label_tag(:email, "Email:")%>
    <%=text_field_tag(:email)%>
    <%= submit_tag("Create") %>
<%end%>
<%
=end%>

<%= form_with model: @user do |form| %>
    <%= form.label :username %>
    <%= form.text_field :username%>
    <%= form.label :password %>
    <%= form.password_field :password%>
    <%= form.label :email %>
    <%= form.text_field :email%>
    <%= form.submit%>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2>Could not create user:</h2>
        <% @user.errors.each do |error| %>
          <p><%= error.full_message %></p>
        <% end %>
      </div>
    <% end %>
<% end %>